* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all ease .4s;
}


:root {
  --light-gray: #c9c9c9;
  --light-blue: #0378e6;
  --dark-blue: #003669;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

input {
  outline: none;
  padding: .8rem;
  border-radius: .5rem;
  border: solid 3px var(--light-gray);
}

input:focus {
  border: solid 3px var(--dark-blue);
}

.label-inputs span {
  position: absolute;
  font-size: 12px;
  left: 1rem;
  pointer-events: none;
  color: var(--light-gray);
}


.label-inputs input:focus + span {
  top: -1rem;
}

input:valid {
  border: solid 3px var(--light-blue);
}

.label-inputs {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}


button {
  cursor: pointer;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  background: var(--light-blue);
}

button:hover {
  color: var(--dark-blue);
  background: transparent;
  border: solid 3px var(--light-blue);
}

button:active {
  background: var(--dark-blue);
}

.card-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  background: rgb(166, 187, 255);
}

.alert-message {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  color: var(--light-gray);
  background: var(--light-blue);
}

.alert-message i, h1 {
  font-size: 16px;
}
